@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {  
  padding-right: 15px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding-left: 35px;
    padding-right: 45px;
  }
  &__list-link {
    @extend %title-font;
    color: rgba(54,56,56,0.9033);
    line-height: 22px;
  }
  &__list-link--active {
    padding-bottom: 4px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      height: 2px;
      bottom: 0;
      border-radius: 1px;
      background: rgba(54,56,56, 0.7);
    }
   
  }
  
}
.footer {
  &__content {
    background: #DFDFDF;
    padding: 60px 0 80px;
    width: 100%;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }  
  &__info {
    width: 540px;
  }
  &__info-title {
    color: $title;
    @extend %title-font;
    margin-bottom: 14px;
    line-height: 23px;
  }
  &__info-text {
    margin-bottom: 16px;
    max-width: 475px;
  }
  

  &__form {
    display: flex;
  }
  &__form-input {
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    width: 100%;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgna($title, .7);
    &::placeholder {
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      line-height: 27px;
      color: #a1a1a1;
    }
  }
  &__form-button {
    cursor: pointer;
    background-color: $title;
    border-radius: 21px;
    color: #FFFFF0;
    min-width: 160px;
    border: none;
    padding: 6px 12px;
    font-weight: 600;
    margin-left: 9px;
  }
  &__social { 
    width: 125px;
    margin-right: auto;
    margin-right: 100px;   
  }
  &__social-item, &__menu-link {
    margin-bottom: 15px;
  }
  &__social-item:last-child, &__menu-link:last-child {
    margin-bottom: 0;
  }
  &__social-link {
    padding-left: 28px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      left: 0;      
    }
  }
  &__social-link--facebook::before {
    background-image: url(../images/facebook.svg);
    height: 16px;
    width: 16px;
    top: 3px;
  }
  &__social-link--instagram::before {
    background-image: url(../images/instagram.svg);
    height: 15px;
    width: 14px;
    top: 4px;
  }
  &__social-link--pinterest::before {
    background-image: url(../images/Pinterest.svg);
    width: 16px;
    height: 16px;
    top: 3px;
  }
  &__social-link--whatsapp::before {
    background-image: url(../images/whatsapp.svg);
    height: 14px;
    width: 14px;
    top: 4px;
  }
  &__social-link--youtube::before {
    background-image: url(../images/youtube.svg);
    width: 18px;
    height: 12px;
    top: 5px;
  }
  &__social-link, &__menu-link {
    color: #707070;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
  }
  &__menu {
    margin-right: 60px;
    width: 125px;
  }
  &__copyright {
    background-color: $title;
    color: #A1A1A1;
    text-align: center;
    padding: 42px 0px 41px;
  }
}
.rightside-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 649px;
  background-color: #fff; 
  padding-top: 40px;
  width: 100%;
  box-shadow: -2px 3px 17px 0px rgba(0,0,0, .3);
  transition: all ease .8s;
  z-index: 5;
  &.rightside-menu--close {
    transform: translateX(110%);
  }
  &__close {
    border: none;
    background-color: transparent;
    height: 26px;
    width: 26px;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 60px;
  }
  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }
  &__logo {
    margin-bottom: 40px;
    display: inline-block;
  }
  &__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 20px;
    padding-bottom: 17px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background: rgba($title, .5);
      max-width: 250px;
      margin: 0 auto;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
    }

  }
  &__text {
    margin-bottom: 75px;
  }
  &__images {
    max-width: 485px;
  } 
}
.top {
  &__inner {
    padding-bottom: 70px;
    position: relative;
    &::after {
      content: '';
      background-image: url('../images/slider-bg.jpg');
      left: 0;
      top: 0;
      width: 100%;
      height: 722px;
      z-index: -1;
      position: absolute;
    }
  }
  &__slider-item {
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
  &__slider-img {
    margin-left: -14%;
    max-width: 703px;
    height: 815px;
    object-fit: cover; //??????????????????????????
  }
  &__slider-info {
    max-width: 645px;
    margin-left: 25px;
  }
  &__slider-title {
    @extend %title-font;
    color: $title;
    line-height: 135px;
    font-size: 110px;
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 26px;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 185px;
      height: 1px;
      background-color: rgba($title, .5);
      bottom: 0;
    }
  }
  &__slider-text {
    max-width: 585px;
  }  
}
.new-collection {
  text-align: center;
  padding: 45px 0 105px;
  &__title {
    @extend %title-font;
    color: $title;
    font-size: 35px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      margin: 0 auto;
      width: 250px;
      height: 1px;
      bottom: 0px;
      right: 0;
      left: 0;
      background: rgba($title, .5);
    }
  }
  &__text {
    margin:0 auto 30px;
    max-width: 730px;
  }  
}
.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  padding-bottom: 70px;
  &__item {
    position: relative;
    
    &:hover {
      .collection__info {
        opacity: 1;
      }
    }
  }
  &__images{
    min-height: 350px;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(250,250,250, .7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease .5s;
  }
  &__info-title {
    @extend %title-font;
    font-size: 20px;
    line-height: 25px;
    color: $title;
    padding-bottom: 19px;
    margin-bottom: 19px;
    position: relative;
    &::after {
      content: '';
      bottom: 0;
      position: absolute;
      height: 1px;
      background: #6d7278;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 80%;
      bottom: 0;
    }
  }
  &__info-text {
    font-size: 14px;
    font-weight: 600;
    color: #707070;
  }
}


.decor {
  padding: 170px 0 155px;
  background-image: url('../images/Group 2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  // min-height: 600px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(250,250,250, .8);
  }
  &__wrapper-info {
    position: relative;
  
  }  
  &__wrapper-title {
    @extend %title-font;
    line-height: 80px;
    font-size: 60px;
    color: $title;
    z-index: 6;
    width: 731px;
    font-weight: bold;
    margin-bottom: 22px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 200px;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: rgba(#707070, .4);
    }
  }
  &__wrapper-text {
    margin-top: 21px;
    width: 540px;
    line-height: 28px;
  }
}

.works-path {
  padding: 80px 0 30px;
  &__title {
    @extend %title-font;
    text-align: center;
    color: $title;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 51px;
  }
  &__items-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid rgba($title, .7);
    position: relative;
    &::before {
      position: absolute;
      content: '';
      left: 0;
      bottom: -6px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba($title, 1);
    }
  }
  &__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 100%;
  }
  &__item--production {
    margin-left: 317px;
    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background: rgba($title, .7);
    }
  }
  &__item--production,
  &__item--consultation {
    padding-bottom: 38px;
  }
  &__item--measurements {
    padding-top: 38px;
    margin-left: 305px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 2px;
      background: rgba($title, .7);
    }
  }
  &__item-title {
    margin-left: 13px;
    color: $title;
    @extend %title-font;
    line-height: 23px;
  }
  &__item-text {
    line-height: 27px;
    margin-top: 13px;
  }
}

.gallery {
  padding: 80px 0 90px;
  &__buttons {
    text-align: center;
    margin-bottom: 40px;
  }
  &__btn {
    margin: 0 13px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #454647;
    padding: 6px 16px;
    color: #8f8d8d;
    line-height: 28px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    transition: all ease .5s;   
    &.mixitup-control-active {
      color: $title;
      background-color:#FFEF35;
      border: 1px solid #FFEF35;
    }
     &:hover {
      color: $title;
      background-color:#FFEF35;
      border: 1px solid #FFEF35;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1ftr);
    grid-gap: 30px 35px;
  }
  &__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
  &__images {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 1148px;
  }
  &.gallery-page {
    .gallery__item:nth-child(8) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

.blog-box {
  padding-bottom: 100px;
  &__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin:0 auto 30px;
    text-align: center;
    max-width: 430px;
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;   
  }
  &__img-link {
    display: inline-block;
    margin-bottom: 20px;
  }
  &__links {
    color: #707070;
    font-style: 14px;
    line-height: 28px;
    margin-bottom: 9px;
    font-weight: 600;
  }
  &__date,
  &__author,
  &__theme {
    color: inherit;    
  }
  &__line {
    background: #707070;
    width: 2px;
    height: 14px;
    margin: 0 5px;
    display: inline-block;
  }
  &__item-title {
    color:  $title;
  @extend %title-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
  }
}

.breadcrumbs {
  background-color: rgba(#dfdfdf, .35);
  padding: 13px 14px;
  position: relative;
  z-index: 999;
  &__list {
    display: flex;
  }
  &__item::after {
    content: '/';
    margin-left: 4px;
    margin-right: 4px;
  }
  &__item:last-child::after {
    content: '';
  }
  &__link {
    color: $default;
    font-size: 14px;
  }
  
}



// ABOUT PAGE

.about {
  display: inline-block;
  width: 100%;
  &__prev {
    background-image: url('../images/bg-about.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
    padding: 160px 0;
    margin-top: -53px;  
    z-index: 1;
  }
  &__prev-title {
    color: $title;
    @extend %title-font;
    font-size: 60px;
    line-height: 80px;
  }
  &__content {
    padding: 130px 0 40px;
  }
  &__title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    width: 822px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 1px;
      background: #979797;
    }
  }
  &__text {
    width: 825px;
    margin-top: 23px;
    margin-left: 285px;
    line-height: 27px;
    & p {
      margin-bottom: 38px;
    }
  }
  &__popup {
    margin: 40px 0;
    background-image: url('../images/hands-of-two-young-female-colleagues-looking-throu-5XLFDY5.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 414px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.inspiration {
  padding-top: 100px;  
  position: relative;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/bg-2.png');
    height: 360px;
    width: 100%;
    z-index: -1;

  }
  &__inner {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  &__images {
    margin-right: 78px;
    margin-left: -230px;
  }
  &__title {
   font-size: 36px;
   line-height: 60px;
   color: $title;
   @extend %title-font;
   position: relative;
   padding-bottom: 16px;
   margin-bottom: 24px;
   &::after {
     content: '';
     position: absolute;
     height: 2px;
     border-radius: 2px;
     width: 200px;
     left: 0;
     bottom: 0;
     background: rgba(#979797, .7) ;
   }   
  }
  &__text {
    margin-bottom: 30px;
  }
  &__content {
    width: 825px; 
  }

  &__item {
    line-height: 23px;
    color: $title;
    margin-bottom: 33px;
    @extend %title-font;
  }
  &__item-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 2px solid #fff;
    border-radius: 4px;
  }
  &__line {
    height: 2px;
    border-radius: 2px;
    background-color: $title;
    margin-top: -2px;
  }
}

.partners {
  padding: 16px 0 60px;
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &__item {
    margin: 0 auto;
  }
}

.map {
  margin-top: -50px;
  margin-bottom: 55px;
}

.contact {
  padding-bottom: 100px;
  &__title {
    font-size: 36px;
    line-height: 60px;
    padding-bottom: 35px;
    margin-bottom: 40px;
    @extend %title-font;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 200px;
      height: 2px;
      border-radius: 2px;
      left: 0;
      bottom: 0;
      background-color: #6d7278;
    }    
  }
  &__group {
    padding-left: 285px;  
  }
  &__social {
    display: flex;
    margin-bottom: 30px;
  }
  &__social-item + .contact__social-item {
    padding-left: 40px;
  }
  &__text {
    line-height: 28px;
    margin-bottom: 30px;
  }
  &__phone {
    color:#6d7278;
    line-height: 28px;
  }
  &__city, &__st {
    line-height: 28px;
  }
  &__city {
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__form-input {
    border-radius: 20px;
    border: 1px solid #DFDFDF;
    padding: 6px 17px;
    margin-bottom: 13px;
    width: 48%;
    outline: none;   
    &::placeholder {
      color:#a1a1a1;
      font-size: 16px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      line-height: 27px;
    } 
  }
  &__form-area {
    width: 100%;
    min-height: 125px;
    resize: none;
    margin-bottom: 20px;
    border-radius: 24px;
    border: 1px solid #DFDFDF;
    padding: 14px 17px;
    margin-bottom: 13px;
    outline: none;
    &::placeholder {
      color:#a1a1a1;
      font-size: 16px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      line-height: 27px;
    }   
  }
  &__form-btn {
    border-radius: 20px;
    background-color: $title;
    color: #FFFFF0;
    font-weight: 600;
    padding: 6px 30px;
    border: none;
    width: 158px;
    cursor: pointer;
  }
}

.contact-slider {
  padding-bottom: 102px;
  &__link {
    position: relative;
    margin-bottom: 20px;
    &:hover {
      .contact-slider__title {
        opacity: 1;
      }
      
    }
  }
  &__img {
    width: 170px;
    height: 170px;
    object-fit: cover;
  }
  &__title {
    transition: all ease .5s;
    position: absolute;
    // content: '';
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(#fff, .6);
    color: $title;
    @extend %title-font;
    line-height: 22px;
    width: 170px;
    height: 170px;
    padding: 0 5px;
    text-align: center;
    opacity: 0;    
  }
}


// Blog

.blog {
  padding: 60px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;    
  }  
}
.aside {
  width: 350px;
  margin-left: 30px;
  &__search {
    position: relative;
    margin-bottom: 40px;
  }
  &__search-input {
    padding: 6px 45px 6px 18px;
    border-radius: 20px;
    border: 1px solid rgba($title, .7);
    outline: none;
    display: block;
    width: 100%;
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      color: #A1A1A1;
    }
  }
  &__search-btn {
    position: absolute;
    right: 20px;
    top: 13px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}
.blog__category {
  &-title {
    line-height: 23px;
    margin-bottom: 15px;
    @extend %title-font;
    font-weight: bold;
  }
  &-list {
    margin-bottom: 30px;
  }
  &-item {
    margin-bottom: 15px;
  }
  &-link {
    color: #5A5A5A;
    line-height: 27px;
  }
}
.recent-posts {
  margin-bottom: 30px;
  &__title {
    line-height: 23px;
    margin-bottom: 15px;
    @extend %title-font;
    font-weight: bold;
  }
  &__list {
    // margin-bottom: 15px;
    width: 310px;
  }
  &__item {
    margin-bottom: 15px;
    position: relative;
  }
  &__link-title {
    line-height: 27px;
    color: #5A5A5A;
    display: block;
    font-size: 16px;
  }
  &__date {
    line-height: 28px;
    font-size: 14px;
    color: #a1a1a1;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    &::after {
      position: absolute;
      content: '';
      width: 2px;
      height: 14px;
      right: -10px;
      bottom: 9px;
      background-color: #a1a1a1;
    }
  }
  &__author {
    line-height: 28px;
    font-size: 14px;
    color: #a1a1a1;
  }
}
.blog__tags {
  margin-bottom: 30px;
  &-title {
    margin-bottom: 15px;
    line-height: 23px;
    @extend %title-font;
    font-weight: bold;
  }
  &-link {
    border-radius: 20px;
    color: #8F8D8D;
    border: 1px solid #8F8D8D;
    font-size: 14px;
    line-height: 28px;
    padding: 0px 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
  }
  
}
.glog__social {
  padding: 0;
  margin: 0;
  &-item {
    display: inline-block;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  &-link {
    outline: none;
  }
}

.blog__items {
  max-width: 730px;
}
.blog__item {
  margin-bottom: 80px;
}
.blog__item-img {
  max-width: 730px;
}
.blog__item-info {
  padding: 25px 0 10px;
  font-weight: 600px;
  font-size: 14px;
  color: $default;
  line-height: 28px;
}
.blog__item-date {
  margin-right: 6px;
  padding-right: 10px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 14px;
    border-radius: 2px;
    background: rgba($default, .5);
    right: 0px;
    bottom: 3px;
  }
}
.blog__item-author-team {
  color: $default;
  font-size: 14px;
  font-weight: 600;
}
.blog__item-author {
  color: $default;
  font-size: 14px;
  font-weight: 600;
  margin-right: 6px;
  padding-right: 10px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 14px;
    border-radius: 2px;
    background: rgba($default, .5);
    right: 0px;
    bottom: 3px;
  }
}
.blog__blockquote {
  margin-bottom: 80px;
  padding: 54px 64px;
  background-color: rgba(#dfdfdf, .64);
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 38px;
  &-author {
    @extend %title-font;
    position: relative;
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    &::before {
      position: absolute;
      content: '';
      width: 200px;
      height: 2px;
      border-radius: 2px;
      top: -15px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: rgba($default, .7);
    }
  }
}

.blog__item.article-popup {
  .article-popup__box {
    position: relative;
    max-height: 416px;
  }
  .blog__item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
  }  
}
.blog__item-title {
  @extend %title-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
}
.article-slider-box {
  position: relative;
}
.slick-ico {
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  border: 1px solid transparent;
  background-color: transparent;
  &.slick-prev {
    top: 50%;
    left: 1%;
    transform: translate(-1%, -50%);
    border: 1px solid rgba($default, .35);
    background-color: rgba(#fff, .25);
  }
  &.slick-next {
    top: 50%;
    right: 1%;
    transform: translate(-1%, -50%);
    border: 1px solid rgba($default, .35);
    background-color: rgba(#fff, .25);
  }
}
.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  &__arrow {
    margin: 0 6px;
    margin-top: 7px;
  }
  &__arrow--disabled {
    display: none;
  }
  &__list {
    display: flex;    
  }
  &__list-item {
     margin: 0 6px; 
  }
  &__list-num {
    color: $default;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
  }
  &__list-num--active {
    color: $title;
  }
}
// Blog

//Blog single START
.blog-single__item {
  margin-bottom: 30px;
  p {
    font-size: 16px;
    line-height: 27px;
    color: #5A5A5A;
    font-weight: 400;
  }
  blockquote{
    padding: 40px;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;    
    span {
      display: block;
      margin-top: 20px;
      padding-top: 20px;
      position: relative;
      color: $title;
      @extend %title-font;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 23px;
      &::before {
        position: absolute;
        content: '';
        width: 200px;
        height: 2px;
        left: 0;
        top: 0;
        background: #6D7278;
      }      
    }
  }
}
.blog-single-tags {
  margin-bottom: 30px;
  &__title {    
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    @extend %title-font;
  }
  &__link {
    border-radius: 20px;
    color: #8F8D8D;
    border: 1px solid #8F8D8D;
    font-size: 14px;
    line-height: 28px;
    padding: 0px 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
  }
}
.blog-single__links {
  border-top: 1px solid rgba(#707070, .45);
  border-bottom: 1px solid rgba(#707070, .45);
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  &-link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    width: 243px;
  }
  &-prew {
    span {
      padding: 0;
      margin-left: 15px;
      color: #707070;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      display: flex;
      text-align: left;      
    }
  }
  &-next {
    span {
      padding: 0;
      margin-right: 15px;
      color: #707070;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      display: flex;
      text-align: right;      
    }
  }
}

.blog-single__comments {
  padding: 40px 0;
  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    @extend %title-font;
    color: #363838;
    margin-bottom: 30px;
  }
  &-inner {
    display: flex;
    justify-content: space-between;
  }
  &-item__people {
    max-width: 600px;
  }
  &-body {
    display: flex;
    img {
      width: 64px;
      height: 64px;
    }
    &-comment {
      margin-left: 10px;
      h6 {
        @extend %title-font;
        color: #363838;
        font-weight: bold;
        font-size: 16px;
        line-height: 10px;
      }
      span {
        color: #a1a1a1;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        color: #5A5A5A;
      }
    }
  }
}
.blog-single__comments-item-reply {
  a{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #707070;
  }
}
.blog-single__comments-post-comment {
  margin-top: 40px;
  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    @extend %title-font;
    color: #363838;
    margin-bottom: 30px;
  }
}

.blog-single__form {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    @extend %title-font;
    color: #363838;
    margin-bottom: 30px;
  }
  &-textarea {
    width: 98%;
    height: 125px;
    border-radius: 24px;
    border: 1px solid #DFDFDF;
    padding: 14px 15px;
    resize: none;
    margin-bottom: 20px;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #A1A1A1;
    }
  }
  &-input-name {
    border-radius: 24px;
    width: 48.5%;
    padding: 6px 15px;
    outline: none;
    border: 1px solid #DFDFDF;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #A1A1A1;
    }
  }
  &-input-email {
    border-radius: 24px;
    width: 48.5%;
    margin-left: 10px;
    padding: 6px 15px;
    outline: none;
    border: 1px solid #DFDFDF;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #A1A1A1;
    }
  }
  // &-input-label {
  //   border: 1px solid red;
  //   margin-top: 20px;
  //   border: none;
  //   width: 100%;
  //   font-weight: normal;
  //   font-size: 14px;
  //   line-height: 28px;
  //   color: #A1A1A1;
  // }
  // &-check-rem {
  //   width: 21px;
  //   height: 21px;
  //   border: 3px solid #979797;
  // }
  &-btn {
    margin-top: 20px;
    border: none;
    background-color: $title;
    color: #FFFFF0;
    font-weight: 600;
    border-radius: 21px;
    padding: 6px 60px;
    cursor: pointer;
  }
}
.blog-single__form-input-label {
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
  line-height: 28px;
  color: #A1A1A1;
  position: relative;  
}
.blog-single__form-check-rem {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.blog-single__form-check-rem + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  &::before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 21px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #DFDFDF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 15px;
  }
}
.blog-single__form-check-rem:checked + label::before {
  border-color: #6D7278;
  background-image: url('../images/check-mark-black-outline.svg');
}

//Blog single FINISH
